{
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["^react$", "", "^@(?!/)(.*)$", "", "^@/(.*)$", "^[^.]", "", "^[.]/(.*)$", "", "^[.]{2}/(.*)$"],
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrderTypeScriptVersion": "5.0.0"
}
